<div class="section text-center text-white p-4" style="background-color: green;">
    <h1>About Us</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 class="text-center mt-3 ">Our Team</h2>
<div class="row m-3 ">
    <div class="card mx-auto bg-light" style="width: 18rem;">
        <img src="/images/user.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
            <h5 class="card-title ">Shahzaib Khan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-Founder</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card mx-auto bg-light" style="width: 18rem;">
        <img src="/images/user.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
            <h5 class=" card-title">Khansa</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-Founder</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
        </div>
    </div>
    <div class="card mx-auto bg-light" style="width: 18rem;">
        <img src="/images/user.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Zainab</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-Founder</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
        </div>
    </div>
</div>