<div class="mt-1">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: green; top:0;">
        <div class="container-fluid">
            <a href="/admin" class="navbar-brand text-white">
                Admin Pannel
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/admin/addadmin" class="nav-item nav-link active text-white">Add Admin</a>
                    <a href="/admin/insert" class="nav-item nav-link active text-white">Insert Tour</a>
                    <a href="/admin/reloadTours" class="nav-item nav-link active text-white">Reload Tours</a>
                    <a href="/admin/customOrders" class="nav-item nav-link active text-white">Custom Orders</a>
                    <a href="/admin/Orders" class="nav-item nav-link active text-white">Tour Orders</a>
                    <a href="/admin/Feedback" class="nav-item nav-link active text-white">User Feedback</a>
                    <a type="button" class="btn btn-outline-light btn-rounded me-3" href="/signout">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
</div>