<div class="mt-1">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: green; top:0;">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-white">
                Baydaar Travels
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link active text-white">Home</a>
                    <div class="btn-group">
                        <a href="/tours" class="nav-link text-white">Tours</a>
                        <div class="nav-item dropdown me-3">
                            <a href="/tours" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
                                <span class="visually-hidden">Dropdown</span></a>
                            <div class="dropdown-menu">
                                <a href="/3DayTour" class="dropdown-item">3 Days Tour</a>
                                <a href="/5DayTour" class="dropdown-item">5 Days Tour</a>
                                <a href="/7DayTour" class="dropdown-item">7 Days Tour</a>
                            </div>
                        </div>
                    </div>
                    <a type="button" class="btn btn-outline-light btn-rounded me-3" href="/signin">SignIn</a>
                    <a type="button" class="btn btn-outline-light btn-rounded me-3" href="/signup">SignUp</a>
                </div>
            </div>
        </div>
    </nav>
</div>