<div class="mt-1">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: green; top:0;">
        <div class="container-fluid">
            <a href="#" class="navbar-brand text-white">
                Baydaar Travels
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/" class="nav-item nav-link active text-white">Home</a>
                    <a href="/customOrder" class="nav-item nav-link active text-white">Custom Order</a>
                    <a href="/contactUs" class="nav-item nav-link active text-white">Contact Us</a>
                    <div class="nav-item dropdown me-3">
                        <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Tours</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">3 Days Tour</a>
                            <a href="#" class="dropdown-item">5 Days Tour</a>
                            <a href="#" class="dropdown-item">7 Days Tour</a>
                        </div>
                    </div>
                    <a type="button" class="btn btn-outline-light btn-rounded me-3" href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
</div>