<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
        <title>Reset Password</title>
</head>

<body>

    <div class="container">
        <h1 class="mt-5 mb-5 text-center text-primary"><b>Reset Password</b></h1>

        <div class="row mt-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Enter your new password</div>
                    <div class="card-body">
                        <form method="post" action="/resetPassword/<%= id%>/<%= token%>">
                            <div class="mb-3">
                                <label>New Password</label>
                                <input type="password" name="password" id="password" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Confirm New Password</label>
                                <input type="password" name="password2" id="password2" class="form-control" />
                            </div>
                            <div class="mb-3 mt-3">
                                <input type="submit" class="btn btn-primary" value="Reset" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>