<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp</title>

    <style>
        .whatapp_float {
            position: fixed;
            bottom: 40px;
            right: 20px;
        }
    </style>
</head>

<body>
    <div class="whatapp_float">
        <a href="https://wa.me/923206535590" target="_blank">
            <img src="whatapp.jpg" width="100px" class="whatapp_float_btn" />
        </a>
    </div>
</body>

</html>